- create 
- indexing and slicing
- methods 
- basic operations 
- comprehensions

In [2]:
x = [ ] #empty set 
a = [1,2,3,4 ] # numerical list 
b = ['alex','akku','bhupii'] #text list 
c = ['alex',12 ,'bhupii',34,'akku',65] #mixed list (heterogenous)
d = [[1,2],[3,4],[4,5,6,7]] #nested list 
e = [[2,3,4],[4,5,6],[7,8,9]] #nested list equal length

In [4]:
w = [1]*10
print(w)

w2 = [1,2,3]*4
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
a = [1,2,3]
b = [6,4,5]
c = a + b
print(c)

d = [a ,b]
print(d)

[1, 2, 3, 6, 4, 5]
[[1, 2, 3], [6, 4, 5]]

In [12]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x[:3]) #first three item
print(x[-3]) #last three
print(x[2:-2])
print(x[::-1])

print(x[0])
print(x[-1])

[1, 2, 3]
8
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1
10

In [13]:
#traverse list 
for i in x :
    print(i, end='')

12345678910

## methods 

 - add 
    - append 
    - extend 
    - insert
 - remove 
    - remove 
    - pop
    - clear 
 - helper 
    - index 
    - count 
    - reverse 
    - sort 
    - copy

In [14]:
books = []
books.append('The Final Empire ')
books.append('The well of Acension ')
books.append('The hero of ages')
books.append('War breaker ')
print(books)

['The Final Empire ', 'The well of Acension ', 'The hero of ages', 'War breaker ']

In [16]:
books.insert(1, 'The Way of Kings')
books.insert(4, 'Words of radience')
print(books)

['The Final Empire ', 'The Way of Kings', 'The Way of Kings', 'The well of Acension ', 'Words of radience', 'The hero of ages', 'Words of radience', 'War breaker ']

In [19]:
crappy_books = [
    'Twilight saga', 'new moon',
    'power of human ',
    'jump of sky'
]
print(crappy_books)

['Twilight saga', 'new moon', 'power of human ', 'jump of sky']

In [21]:
books.extend(crappy_books)
print(books)

['The Final Empire ', 'The Way of Kings', 'The Way of Kings', 'The well of Acension ', 'Words of radience', 'The hero of ages', 'Words of radience', 'War breaker ', 'Twilight saga', 'new moon', 'power of human ', 'jump of sky', 'Twilight saga', 'new moon', 'power of human ', 'jump of sky']

In [22]:
nums = [1,2,3]
more_nums = [4,5,6,7]
nums.extend(more_nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [23]:
num_matrix = [nums,nums,nums]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [26]:
all_num = nums + more_nums
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [27]:
#enter a list from a user 

a = []
for i in range (5):
    x = input('enter some data:')
    a.append(x)
print(a)

['make a list of names', 'in a list', '5', 'this is a simpe lis', '']

In [30]:
# take 5 inputs as numbers and then display the total from the user and the number in a list
 

b = []
total = 0
for i in range (5):
    x = int(input('enter some data:'))
    total= total +x
    b.append(x)
print(b)  
print(sum)

[8, 9, 6, 3, 4]
31

In [31]:


print(books)

['The Final Empire ', 'The Way of Kings', 'The Way of Kings', 'The well of Acension ', 'Words of radience', 'The hero of ages', 'Words of radience', 'War breaker ', 'Twilight saga', 'new moon', 'power of human ', 'jump of sky', 'Twilight saga', 'new moon', 'power of human ', 'jump of sky']

In [38]:
#remove data 

books.remove("The Final Empire ")

#print(books)

In [52]:
def safe_remove(val_to_remove):
    if val_to_remove in books:
        books.remove(val_to_remove)
        print(f"✅{val_to_remove} removed from list")
    else :
        print(f'❌{val_to_remove}not found in list')

In [54]:
safe_remove('The hero of ages')

❌The hero of agesnot found in list

In [59]:
z = ['aman','Kenery','aabhisek','nakul']
print(z)
#pop()  #remove last element

['aman', 'Kenery', 'aabhisek', 'nakul']

In [60]:
z.pop()

'nakul'

In [40]:
output = books.pop(1) #remove element at index 1
print(output)
print(books)

The Way of Kings
['The Way of Kings', 'The well of Acension ', 'Words of radience', 'The hero of ages', 'Words of radience', 'War breaker ', 'Twilight saga', 'new moon', 'power of human ', 'jump of sky', 'Twilight saga', 'new moon', 'power of human ']

In [41]:
books.clear()
print(books)

[]

In [48]:
books.clear()
print(x)

4

In [47]:
del a

In [3]:
#count 
x = ['a1','b2','a1','a1','b2']
print(x.count('a1'))
print(x.count('b2'))
print(x.count('c2'))

3
2
0

In [5]:
x.sort()
print(x)

['a1', 'a1', 'a1', 'b2', 'b2']

In [7]:
x.sort(reverse = True)
print(x)

['b2', 'b2', 'a1', 'a1', 'a1']

In [11]:
words = ['app','aeroplane','apple','adhikari','association']
words.sort()
print(words)  


words.sort(reverse = True)
print(words)

words.sort(key=len)
print(words)

words.sort(key=len,reverse=True)
print(words)

['adhikari', 'aeroplane', 'app', 'apple', 'association']
['association', 'apple', 'app', 'aeroplane', 'adhikari']
['app', 'apple', 'adhikari', 'aeroplane', 'association']
['association', 'aeroplane', 'adhikari', 'apple', 'app']

In [12]:
words.index('apple')

3

In [13]:
word_copy1 = words #copy by reference 
wprd_copy2 = words.copy() #copy of value

In [14]:
x = [1,2,3]
y = x      #copy by reference 
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [16]:
x = [1,2,3]
y = x.copy() #copy by value
y.append(4)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4]

generating a list of numbers from existing list

In [6]:
x = [1,2,3,4,5]

In [22]:
y = x.copy()
for i in x :
    s=i**2
    y.append(s)
print(y)

[1, 4, 9, 16, 25, 1, 16, 81, 256, 625]

list comprehension 

syntax:
```
new_list = [operation for item in list]```

list comprensive with condition 

``` 
new_list=[opertaion for item in list if expression ]```

In [7]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [8]:
a = [1,2,3,4,5,6,7,8,9,10]
a_odd = [i for i in a if i %2!= 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]
a_even = [i**3 for i in a if i%2 ==0 ]
print(a)
print(a_even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 64, 216, 512, 1000]